.pane_principal{
    -fx-background-color: #0097ed;
}

.pane_border{
    -fx-background-radius:5px;
    -fx-background-color:#fff;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
}

.border{
    -fx-background-radius: 5px;
}

.buttons{
    -fx-background-color: transparent;
}
.borderbtn{
    -fx-border-color: white;
}
#anpane_padre{
    -fx-background-color: #e1dfdf;
}
.btnopc{
    -fx-background-radius: 10px;
}
.fade{
    -fx-background-color: linear-gradient(to right,#0097ed, #00d9ad);
}
.btn_shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 8, 0.5, 3, 3);
}